/* reset.css */

* {
	margin: 0;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
@media screen and (max-width: 767px){
    .header {
        width: 300px;
    }
    .left {
        width: 100px;
    }
    .right {
        width: 75px;
        float: left;
    }
    .center1 {
        width: 125px;
    }
    .center2 {
        width: 125px;
    }
    .center3 {
        width: 200px;
    }
    .footer {
        width: 300px;
    }
}
@media screen and (max-width: 479px){
    .header{
        width: 150px;
    }
    .left {
        width: 150px;
        float: none;
    }
    .right{
        width: 150px;
        float: none;
    }
    .center1 {
        width: 150px;
        float: none;
    }
    .center2 {
        width: 150px;
        float: none;
    }
    .center3 {
        width: 150px;
        float: none;
    }
    .footer{
        width: 150px;
    }

}

/*     <link href="smartStyle2.css" rel="stylesheet"> */